/*
	===============================
			@Import	Function
	===============================
*/

/*
	===============================
			@Import	Mixins
	===============================
*/

/*
 * Container style
 */

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */

.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 10px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 10px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y {
  opacity: 0.6;
}

.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y {
  opacity: 0.6;
}

.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */

.ps__thumb-x {
  background-color: #d3d3d3;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 4px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #d3d3d3;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 4px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #acb0c3;
  height: 6px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #acb0c3;
  width: 6px;
}

/* MS supports */

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

/*
	===============================
			@Import	Function
	===============================
*/

/*
	===============================
			@Import	Mixins
	===============================
*/

.main-container,
#content {
  min-height: auto;
}

/*
    App Note Container
*/

.app-note-container {
  position: relative;
  display: flex;
}

.app-note-container .tab-title {
  max-width: 210px;
  width: 100%;
}

.note-sidebar-scroll {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: auto;
  height: calc(100vh - 202px);
}

/*
    Group section
*/

.group-section {
  font-weight: 600;
  font-size: 15px;
  color: #3b3f5c;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 13px;
  padding: 9px 20px;
}

.group-section svg {
  color: #888ea8;
  margin-right: 6px;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  fill: rgba(0, 23, 55, 0.08);
}

.app-note-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3b3f5c !important;
  z-index: 4 !important;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.app-note-overlay.app-note-overlay-show {
  display: block;
  opacity: 0.7;
}

/*
    Tab Title
*/

.tab-title.mail-menu-show {
  left: 0;
  width: 100%;
  min-width: 190px;
  height: 100%;
}

.tab-title hr {
  border-top: 1px solid #0e1726;
  max-width: 54px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tab-title .nav-pills .nav-link.active,
.tab-title .nav-pills .show > .nav-link {
  background-color: #bfc9d4;
  color: #3b3f5c;
  font-weight: 700;
}

.tab-title .nav-pills a.nav-link {
  position: relative;
  font-weight: 700;
  color: #515365;
  padding: 9px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
}

.tab-title .nav-pills a.nav-link svg {
  margin-right: 7px;
  width: 18px;
  height: 18px;
  vertical-align: sub;
}

.tab-title .nav-pills a.nav-link .mail-badge {
  background: #c2d5ff;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  padding: 4px 7px;
  height: 24px;
  width: 23px;
  color: #1b55e2;
  font-weight: 600;
}

.tab-title .nav-pills.group-list .nav-item a {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 15px 9px 50px;
  color: #3b3f5c;
  letter-spacing: 1px;
}

.tab-title .nav-pills.group-list .nav-item a[class*=g-dot-]:before {
  position: absolute;
  padding: 4px;
  content: "";
  border-radius: 50%;
  top: 14px;
  left: 20px;
  border: 2px solid #515365;
}

.tab-title .nav-pills.group-list .nav-item a.g-dot-danger:before {
  background: #ffe1e2;
  border: 1px solid #e7515a;
}

.tab-title .nav-pills.group-list .nav-item a.g-dot-primary:before {
  background: #bae7ff;
  border: 1px solid #2196f3;
}

.tab-title .nav-pills.group-list .nav-item a.g-dot-warning:before {
  background: #ffeccb;
  border: 1px solid #e2a03f;
}

.tab-title .nav-pills.group-list .nav-item a.g-dot-success:before {
  background: #dccff7;
  border: 1px solid #5c1ac3;
}

.tab-title .nav-pills .nav-item .dropdown-menu {
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  padding: 0;
  border: none;
}

.tab-title li.mail-labels a.dropdown-item {
  font-size: 13px;
  font-weight: 700;
  padding: 8px 18px;
}

.tab-title li.mail-labels a.dropdown-item:hover {
  background-color: #fff;
  color: #1b55e2;
}

.tab-title li.mail-labels .label:after {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  right: 15px;
  top: 43%;
}

/*Mail Labels*/

/*
    Note container
*/

.note-container {
  padding: 0 15px;
  width: 100%;
}

.note-container .switch {
  text-align: right;
  margin-bottom: 43px;
}

.note-container .switch .active-view {
  color: #1b55e2;
  fill: rgba(27, 85, 226, 0.2392156863);
}

.note-container .switch .view-list,
.note-container .switch .view-grid {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  color: #515365;
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  width: 43px;
  height: 41px;
  fill: rgba(0, 23, 55, 0.08);
}

.note-container.note-grid .note-item {
  position: relative;
  padding: 16px 16px;
  margin-right: 0;
  margin-left: 5px;
  margin-bottom: 18px;
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
  display: inline-flex;
  background: #e0e6ed;
}

.note-container.note-grid .note-item.note-personal {
  background: #bae7ff;
}

.note-container.note-grid .note-item.note-work {
  background: #ffeccb;
}

.note-container.note-grid .note-item.note-important {
  background: #ffe1e2;
}

.note-container.note-grid .note-item.note-social {
  background: #dccff7;
}

.note-container.note-grid .note-item .note-inner-content {
  border-radius: 4px;
  width: 100%;
  min-height: 163px;
}

.note-container.note-grid .note-item .note-inner-content .note-title {
  font-size: 19px;
  font-weight: 600;
  color: #3b3f5c;
  margin-bottom: 11px;
  letter-spacing: 0px;
}

.note-container.note-grid .note-item .note-inner-content .meta-time {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
  color: #515365;
  display: inline-block;
  border-radius: 4px;
}

.note-container.note-grid .note-item .note-inner-content .note-description {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 18px;
  letter-spacing: 0px;
  word-wrap: break-word;
}

.note-container.note-grid .note-item .note-inner-content .note-action {
  display: inline-block;
}

.note-container.note-grid .note-item .note-inner-content .note-action .fav-note,
.note-container.note-grid .note-item .note-inner-content .note-action .delete-note {
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  color: #515365;
  width: 28px;
  height: 28px;
  fill: rgba(0, 23, 55, 0.08);
}

.note-container.note-grid .note-item.note-fav .note-inner-content .note-action .fav-note {
  fill: #e2a03f;
}

.note-container.note-grid .note-item .note-inner-content .note-action .fav-note:hover {
  fill: #e2a03f;
}

.note-container.note-grid .note-item .note-inner-content .note-action .delete-note:hover {
  color: #e7515a;
}

.note-container.note-grid .note-item .note-inner-content .note-footer {
  display: inline-block;
  float: right;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags {
  display: inline-block;
  position: relative;
  padding: 4px 6px;
  border-radius: 4px;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags [class*=g-dot-] {
  content: "";
  background: transparent;
  border-radius: 50%;
  border: 2px solid #acb0c3;
  display: inline-block;
  height: 11px;
  width: 11px;
  vertical-align: middle;
  display: none;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags .g-dot-personal {
  background: #bae7ff;
  border: 2px solid #2196f3;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags .g-dot-work {
  background: #ffeccb;
  border: 2px solid #e2a03f;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags .g-dot-social {
  background: #dccff7;
  border: 2px solid #5c1ac3;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags .g-dot-important {
  background: #ffe1e2;
  border: 2px solid #e7515a;
}

.note-container.note-grid .note-item.note-personal .note-inner-content .note-footer .tags .g-dot-personal,
.note-container.note-grid .note-item.note-work .note-inner-content .note-footer .tags .g-dot-work,
.note-container.note-grid .note-item.note-social .note-inner-content .note-footer .tags .g-dot-social,
.note-container.note-grid .note-item.note-important .note-inner-content .note-footer .tags .g-dot-important {
  display: inline-block;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector {
  display: inline-block;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu {
  min-width: 8rem;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu a {
  font-size: 14px;
  padding: 3px 35px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #3b3f5c;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu .dropdown-item.active,
.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu .dropdown-item:active {
  background: transparent;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu [class*=g-dot-]:before {
  content: "";
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  top: 9px;
  left: 10px;
  border: 2px solid #515365;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu a.g-dot-important:before {
  background: #ffe1e2;
  border: 1px solid #e7515a;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu a.g-dot-personal:before {
  background: #bae7ff;
  border: 1px solid #2196f3;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu a.g-dot-work:before {
  background: #ffeccb;
  border: 1px solid #e2a03f;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .tags-selector .dropdown-menu a.g-dot-social:before {
  background: #dccff7;
  border: 1px solid #5c1ac3;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .nav-link {
  padding: 0;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .nav-link span {
  display: block;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .nav-link .feather-more-vertical {
  border-radius: 5px;
  cursor: pointer;
  color: #515365;
  width: 20px;
  height: 20px;
}

.note-container.note-grid .note-item .note-inner-content .note-footer .nav-link .feather-more-vertical:hover {
  color: #0e1726;
}

.note-container.note-grid .note-item.note-personal .note-inner-content .note-footer .nav-link .feather-more-vertical,
.note-container.note-grid .note-item.note-work .note-inner-content .note-footer .nav-link .feather-more-vertical,
.note-container.note-grid .note-item.note-social .note-inner-content .note-footer .nav-link .feather-more-vertical,
.note-container.note-grid .note-item.note-important .note-inner-content .note-footer .nav-link .feather-more-vertical {
  display: none;
}

/* 
    Note Container
*/

/*
=====================
    Modal Content
=====================
*/

.modal-content {
  border: none;
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}

.modal-content .modal-footer {
  border-top: none;
}

.modal-content .modal-footer [data-dismiss=modal] {
  background-color: #fff;
  color: #1b55e2;
  font-weight: 700;
  border: 1px solid #e8e8e8;
  padding: 10px 25px;
}

.modal-content .modal-footer .btn[data-dismiss=modal] svg {
  margin-right: 5px;
  width: 18px;
  vertical-align: bottom;
}

.modal-content .modal-footer #btn-n-add {
  background-color: #1b55e2;
  color: #fff;
  font-weight: 600;
  border: 1px solid #1b55e2;
  padding: 10px 25px;
}

.modal-content .modal-footer #btn-n-save {
  font-weight: 600;
  padding: 10px 25px;
}

.modal-backdrop {
  background-color: #ebedf2;
}

.modal-content svg.close {
  position: absolute;
  right: -7px;
  top: -8px;
  font-size: 12px;
  font-weight: 600;
  padding: 3px;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.6s;
  color: #3b3f5c;
}

.notes-box .notes-content form .note-title {
  padding-top: 20px;
}

.notes-box .notes-content form .note-description {
  padding-top: 40px;
}

/*
    ===============
        Note Box
    ===============
*/

.hamburger {
  display: none;
}

/*
    Media Query
*/

@media (max-width: 2132px) {
  .note-container.note-grid .note-item {
    max-width: 32%;
  }
}

@media (max-width: 1199px) {
  .note-container.note-grid .note-item {
    max-width: 48%;
  }
}

@media (max-width: 991px) {
  .app-notes {
    margin-top: 37px;
  }

  .app-note-container .tab-title {
    position: absolute;
    z-index: 4;
    left: -170px;
    width: 0;
  }

  .tab-title.note-menu-show {
    left: 0;
    width: 100%;
    min-width: 190px;
    min-height: 485px;
    border-radius: 0;
    border-bottom-right-radius: 6px;
    padding: 11px;
    background: #fff;
  }

  .note-sidebar-scroll {
    height: 100%;
  }

  .app-hamburger-container {
    text-align: right;
  }

  .hamburger {
    position: relative;
    top: -13px;
    padding: 6px 9px 6px 9px;
    font-size: 20px;
    color: #fff;
    align-self: center;
    display: inline-block;
    background-color: #515365;
    border-radius: 50%;
  }
}

@media (max-width: 767px) {
  .note-container.note-grid .note-item {
    max-width: 47%;
  }
}

@media (max-width: 575px) {
  .note-container.note-grid .note-item {
    max-width: 100%;
    margin-left: 0;
  }
}

/*
	===============================
			@Import	Function
	===============================
*/

/*
	===============================
			@Import	Mixins
	===============================
*/

/*
==================
    Switches
==================
*/

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedf2;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  background-color: white;
  transition: 0.4s;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch input:checked + .slider:before {
  transform: translateX(17px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch.s-default .slider:before {
  background-color: #d3d3d3;
}

.switch.s-primary .slider:before {
  background-color: #1b55e2;
}

.switch.s-success .slider:before {
  background-color: #8dbf42;
}

.switch.s-warning .slider:before {
  background-color: #e2a03f;
}

.switch.s-danger .slider:before {
  background-color: #e7515a;
}

.switch.s-secondary .slider:before {
  background-color: #5c1ac3;
}

.switch.s-info .slider:before {
  background-color: #2196f3;
}

.switch.s-dark .slider:before {
  background-color: #3b3f5c;
}

.switch input:checked + .slider:before {
  background-color: #fff;
}

.switch.s-default input:checked + .slider {
  background-color: #d3d3d3;
}

.switch.s-default input:focus + .slider {
  box-shadow: 0 0 1px #ebedf2;
}

.switch.s-primary input:checked + .slider {
  background-color: #1b55e2;
}

.switch.s-primary input:focus + .slider {
  box-shadow: 0 0 1px #1b55e2;
}

.switch.s-success input:checked + .slider {
  background-color: #8dbf42;
}

.switch.s-success input:focus + .slider {
  box-shadow: 0 0 1px #8dbf42;
}

.switch.s-warning input:checked + .slider {
  background-color: #e2a03f;
}

.switch.s-warning input:focus + .slider {
  box-shadow: 0 0 1px #e2a03f;
}

.switch.s-danger input:checked + .slider {
  background-color: #e7515a;
}

.switch.s-danger input:focus + .slider {
  box-shadow: 0 0 1px #e7515a;
}

.switch.s-secondary input:checked + .slider {
  background-color: #5c1ac3;
}

.switch.s-secondary input:focus + .slider {
  box-shadow: 0 0 1px #5c1ac3;
}

.switch.s-info input:checked + .slider {
  background-color: #2196f3;
}

.switch.s-info input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch.s-dark input:checked + .slider {
  background-color: #3b3f5c;
}

.switch.s-dark input:focus + .slider {
  box-shadow: 0 0 1px #3b3f5c;
}

.switch.s-outline .slider {
  border: 2px solid #ebedf2;
  background-color: transparent;
  width: 36px;
  height: 19px;
}

.switch.s-outline .slider:before {
  height: 13px;
  width: 13px;
}

.switch.s-outline[class*=s-outline-] .slider:before {
  bottom: 1px;
  left: 1px;
  border: 2px solid #bfc9d4;
  background-color: #bfc9d4;
  color: #ebedf2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.25);
}

.switch.s-icons.s-outline-default {
  color: #d3d3d3;
}

.switch.s-icons.s-outline-primary {
  color: #1b55e2;
}

.switch.s-icons.s-outline-success {
  color: #8dbf42;
}

.switch.s-icons.s-outline-warning {
  color: #e2a03f;
}

.switch.s-icons.s-outline-danger {
  color: #e7515a;
}

.switch.s-icons.s-outline-secondary {
  color: #5c1ac3;
}

.switch.s-icons.s-outline-info {
  color: #2196f3;
}

.switch.s-icons.s-outline-dark {
  color: #3b3f5c;
}

.switch.s-outline-default input:checked + .slider {
  border: 2px solid #ebedf2;
}

.switch.s-outline-default input:checked + .slider:before {
  border: 2px solid #d3d3d3;
  background-color: #d3d3d3;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.25);
}

.switch.s-outline-default input:focus + .slider {
  box-shadow: 0 0 1px #ebedf2;
}

.switch.s-outline-primary input:checked + .slider {
  border: 2px solid #1b55e2;
}

.switch.s-outline-primary input:checked + .slider:before {
  border: 2px solid #1b55e2;
  background-color: #1b55e2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch.s-outline-primary input:focus + .slider {
  box-shadow: 0 0 1px #1b55e2;
}

.switch.s-outline-success input:checked + .slider {
  border: 2px solid #8dbf42;
}

.switch.s-outline-success input:checked + .slider:before {
  border: 2px solid #8dbf42;
  background-color: #8dbf42;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch.s-outline-success input:focus + .slider {
  box-shadow: 0 0 1px #8dbf42;
}

.switch.s-outline-warning input:checked + .slider {
  border: 2px solid #e2a03f;
}

.switch.s-outline-warning input:checked + .slider:before {
  border: 2px solid #e2a03f;
  background-color: #e2a03f;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch.s-outline-warning input:focus + .slider {
  box-shadow: 0 0 1px #e2a03f;
}

.switch.s-outline-danger input:checked + .slider {
  border: 2px solid #e7515a;
}

.switch.s-outline-danger input:checked + .slider:before {
  border: 2px solid #e7515a;
  background-color: #e7515a;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch.s-outline-danger input:focus + .slider {
  box-shadow: 0 0 1px #e7515a;
}

.switch.s-outline-secondary input:checked + .slider {
  border: 2px solid #5c1ac3;
}

.switch.s-outline-secondary input:checked + .slider:before {
  border: 2px solid #5c1ac3;
  background-color: #5c1ac3;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch.s-outline-secondary input:focus + .slider {
  box-shadow: 0 0 1px #5c1ac3;
}

.switch.s-outline-info input:checked + .slider {
  border: 2px solid #2196f3;
}

.switch.s-outline-info input:checked + .slider:before {
  border: 2px solid #2196f3;
  background-color: #2196f3;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch.s-outline-info input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch.s-outline-dark input:checked + .slider {
  border: 2px solid #3b3f5c;
}

.switch.s-outline-dark input:checked + .slider:before {
  border: 2px solid #3b3f5c;
  background-color: #3b3f5c;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.switch.s-outline-dark input:focus + .slider {
  box-shadow: 0 0 1px #3b3f5c;
}

.switch.s-icons {
  width: 57px;
  height: 30px;
}

.switch.s-icons .slider {
  width: 48px;
  height: 25px;
}

.switch.s-icons .slider:before {
  vertical-align: sub;
  color: #3b3f5c;
  height: 19px;
  width: 19px;
  line-height: 1.3;
  content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23e9ecef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}

.switch.s-icons input:checked + .slider:before {
  content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
  vertical-align: sub;
  color: #fff;
  line-height: 1.4;
  transform: translateX(23px);
}

/* Hide default HTML checkbox */

/* The slider */

/* Rounded Slider Switches */

/* Solid Switches*/

/* Outline Switches */

/*  Icons Switches */

/*
	===============================
			@Import	Function
	===============================
*/

/*
	===============================
			@Import	Mixins
	===============================
*/

/*----------Theme checkbox---------*/

.new-control {
  position: relative;
  display: inline-flex;
  padding-left: 1.5rem;
  margin-right: 1rem;
  font-weight: 100;
  font-size: 14px;
}

.new-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.new-control.new-checkbox {
  cursor: pointer;
}

.new-control.new-checkbox .new-control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e0e6ed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 4px;
}

.new-control.new-checkbox > input:checked ~ span.new-control-indicator {
  background: #888ea8;
}

.new-control.new-checkbox > input:checked ~ span.new-control-indicator:after {
  display: block;
}

.new-control.new-checkbox span.new-control-indicator:after {
  border: solid #fff;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -5px;
  width: 4px;
  height: 8px;
  border-width: 0 2px 2px 0 !important;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
  margin-left: -2px;
  margin-top: -5px;
  width: 4px;
  height: 8px;
  height: 8px;
}

/*rounded checkbox*/

.new-checkbox-rounded span.new-control-indicator {
  border-radius: 50% !important;
}

/*  line through colors   */

.new-control.new-checkbox.new-checkbox-text > input:checked ~ span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-default > input:checked ~ span.new-chk-content {
  color: #888ea8;
}

.new-control.new-checkbox.new-checkbox-text.checkbox-primary > input:checked ~ span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-primary > input:checked ~ span.new-chk-content {
  color: #1b55e2;
}

.new-control.new-checkbox.new-checkbox-text.checkbox-success > input:checked ~ span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-success > input:checked ~ span.new-chk-content {
  color: #8dbf42;
}

.new-control.new-checkbox.new-checkbox-text.checkbox-info > input:checked ~ span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-info > input:checked ~ span.new-chk-content {
  color: #2196f3;
}

.new-control.new-checkbox.new-checkbox-text.checkbox-warning > input:checked ~ span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-warning > input:checked ~ span.new-chk-content {
  color: #e2a03f;
}

.new-control.new-checkbox.new-checkbox-text.checkbox-danger > input:checked ~ span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-danger > input:checked ~ span.new-chk-content {
  color: #e7515a;
}

.new-control.new-checkbox.new-checkbox-text.checkbox-secondary > input:checked ~ span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-secondary > input:checked ~ span.new-chk-content {
  color: #5c1ac3;
}

.new-control.new-checkbox.new-checkbox-text.checkbox-dark > input:checked ~ span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-dark > input:checked ~ span.new-chk-content {
  color: #3b3f5c;
}

.new-control.new-checkbox.checkbox-primary > input:checked ~ span.new-control-indicator {
  background: #1b55e2;
}

.new-control.new-checkbox.checkbox-success > input:checked ~ span.new-control-indicator {
  background: #8dbf42;
}

.new-control.new-checkbox.checkbox-info > input:checked ~ span.new-control-indicator {
  background: #2196f3;
}

.new-control.new-checkbox.checkbox-warning > input:checked ~ span.new-control-indicator {
  background: #e2a03f;
}

.new-control.new-checkbox.checkbox-danger > input:checked ~ span.new-control-indicator {
  background: #e7515a;
}

.new-control.new-checkbox.checkbox-secondary > input:checked ~ span.new-control-indicator {
  background: #5c1ac3;
}

.new-control.new-checkbox.checkbox-dark > input:checked ~ span.new-control-indicator {
  background: #3b3f5c;
}

.new-control.new-checkbox[class*=checkbox-outline-] > input:checked ~ span.new-control-indicator {
  background-color: transparent;
}

.new-control.new-checkbox.checkbox-outline-default > input:checked ~ span.new-control-indicator {
  border: 2px solid #888ea8;
}

.new-control.new-checkbox.checkbox-outline-primary > input:checked ~ span.new-control-indicator {
  border: 2px solid #1b55e2;
}

.new-control.new-checkbox.checkbox-outline-success > input:checked ~ span.new-control-indicator {
  border: 2px solid #8dbf42;
}

.new-control.new-checkbox.checkbox-outline-info > input:checked ~ span.new-control-indicator {
  border: 2px solid #2196f3;
}

.new-control.new-checkbox.checkbox-outline-warning > input:checked ~ span.new-control-indicator {
  border: 2px solid #e2a03f;
}

.new-control.new-checkbox.checkbox-outline-danger > input:checked ~ span.new-control-indicator {
  border: 2px solid #e7515a;
}

.new-control.new-checkbox.checkbox-outline-secondary > input:checked ~ span.new-control-indicator {
  border: 2px solid #5c1ac3;
}

.new-control.new-checkbox.checkbox-outline-dark > input:checked ~ span.new-control-indicator {
  border: 2px solid #3b3f5c;
}

.new-control.new-checkbox.checkbox-outline-default > input:checked ~ span.new-control-indicator:after {
  border-color: #888ea8;
}

.new-control.new-checkbox.checkbox-outline-primary > input:checked ~ span.new-control-indicator:after {
  border-color: #1b55e2;
}

.new-control.new-checkbox.checkbox-outline-success > input:checked ~ span.new-control-indicator:after {
  border-color: #8dbf42;
}

.new-control.new-checkbox.checkbox-outline-info > input:checked ~ span.new-control-indicator:after {
  border-color: #2196f3;
}

.new-control.new-checkbox.checkbox-outline-warning > input:checked ~ span.new-control-indicator:after {
  border-color: #e2a03f;
}

.new-control.new-checkbox.checkbox-outline-danger > input:checked ~ span.new-control-indicator:after {
  border-color: #e7515a;
}

.new-control.new-checkbox.checkbox-outline-secondary > input:checked ~ span.new-control-indicator:after {
  border-color: #5c1ac3;
}

.new-control.new-checkbox.checkbox-outline-dark > input:checked ~ span.new-control-indicator:after {
  border-color: #3b3f5c;
}

.new-control.new-radio {
  cursor: pointer;
}

.new-control.new-radio .new-control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e0e6ed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 50%;
}

.new-control.new-radio > input:checked ~ span.new-control-indicator {
  background: #888ea8;
}

.new-control.new-radio span.new-control-indicator:after {
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
  content: "";
  position: absolute;
  display: none;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background-color: #fff;
}

.new-control.new-radio.square-radio .new-control-indicator,
.new-control.new-radio.square-radio span.new-control-indicator:after {
  border-radius: 0;
}

.new-control.new-radio.radio-primary > input:checked ~ span.new-control-indicator {
  background: #1b55e2;
}

.new-control.new-radio.radio-success > input:checked ~ span.new-control-indicator {
  background: #8dbf42;
}

.new-control.new-radio.radio-info > input:checked ~ span.new-control-indicator {
  background: #2196f3;
}

.new-control.new-radio.radio-warning > input:checked ~ span.new-control-indicator {
  background: #e2a03f;
}

.new-control.new-radio.radio-danger > input:checked ~ span.new-control-indicator {
  background: #e7515a;
}

.new-control.new-radio.radio-secondary > input:checked ~ span.new-control-indicator {
  background: #5c1ac3;
}

.new-control.new-radio.radio-dark > input:checked ~ span.new-control-indicator {
  background: #3b3f5c;
}

.new-control.new-radio[class*=radio-classic-] > input:checked ~ span.new-control-indicator {
  background-color: transparent;
}

.new-control.new-radio.radio-classic-default > input:checked ~ span.new-control-indicator {
  border: 3px solid #888ea8;
}

.new-control.new-radio.radio-classic-primary > input:checked ~ span.new-control-indicator {
  border: 3px solid #1b55e2;
}

.new-control.new-radio.radio-classic-success > input:checked ~ span.new-control-indicator {
  border: 3px solid #8dbf42;
}

.new-control.new-radio.radio-classic-info > input:checked ~ span.new-control-indicator {
  border: 3px solid #2196f3;
}

.new-control.new-radio.radio-classic-warning > input:checked ~ span.new-control-indicator {
  border: 3px solid #e2a03f;
}

.new-control.new-radio.radio-classic-danger > input:checked ~ span.new-control-indicator {
  border: 3px solid #e7515a;
}

.new-control.new-radio.radio-classic-secondary > input:checked ~ span.new-control-indicator {
  border: 3px solid #5c1ac3;
}

.new-control.new-radio.radio-classic-dark > input:checked ~ span.new-control-indicator {
  border: 3px solid #3b3f5c;
}

.new-control.new-radio.radio-classic-default > input:checked ~ span.new-control-indicator:after {
  background-color: #888ea8;
}

.new-control.new-radio.radio-classic-primary > input:checked ~ span.new-control-indicator:after {
  background-color: #1b55e2;
}

.new-control.new-radio.radio-classic-success > input:checked ~ span.new-control-indicator:after {
  background-color: #8dbf42;
}

.new-control.new-radio.radio-classic-info > input:checked ~ span.new-control-indicator:after {
  background-color: #2196f3;
}

.new-control.new-radio.radio-classic-warning > input:checked ~ span.new-control-indicator:after {
  background-color: #e2a03f;
}

.new-control.new-radio.radio-classic-danger > input:checked ~ span.new-control-indicator:after {
  background-color: #e7515a;
}

.new-control.new-radio.radio-classic-secondary > input:checked ~ span.new-control-indicator:after {
  background-color: #5c1ac3;
}

.new-control.new-radio.radio-classic-dark > input:checked ~ span.new-control-indicator:after {
  background-color: #3b3f5c;
}

.new-control.new-radio.new-radio-text > input:checked ~ span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-default > input:checked ~ span.new-radio-content {
  color: #888ea8;
}

.new-control.new-radio.new-radio-text.radio-primary > input:checked ~ span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-primary > input:checked ~ span.new-radio-content {
  color: #1b55e2;
}

.new-control.new-radio.new-radio-text.radio-success > input:checked ~ span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-success > input:checked ~ span.new-radio-content {
  color: #8dbf42;
}

.new-control.new-radio.new-radio-text.radio-info > input:checked ~ span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-info > input:checked ~ span.new-radio-content {
  color: #2196f3;
}

.new-control.new-radio.new-radio-text.radio-warning > input:checked ~ span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-warning > input:checked ~ span.new-radio-content {
  color: #e2a03f;
}

.new-control.new-radio.new-radio-text.radio-danger > input:checked ~ span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-danger > input:checked ~ span.new-radio-content {
  color: #e7515a;
}

.new-control.new-radio.new-radio-text.radio-secondary > input:checked ~ span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-secondary > input:checked ~ span.new-radio-content {
  color: #5c1ac3;
}

.new-control.new-radio.new-radio-text.radio-dark > input:checked ~ span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-dark > input:checked ~ span.new-radio-content {
  color: #3b3f5c;
}

/*  Color   */

/*   Outline checkbox   */

/*----------Theme Radio---------*/

/*square radio*/

/*  Color   */

/*   Outline Radio   */

/*  line through colors   */

/*
	===============================
			@Import	Function
	===============================
*/

/*
	===============================
			@Import	Mixins
	===============================
*/

select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  width: 220px \0;
}

.bootstrap-select.btn-group > .dropdown-toggle {
  height: auto;
  border: 1px solid #bfc9d4;
  color: #3b3f5c !important;
  font-size: 15px;
  padding: 8px 10px;
  letter-spacing: 1px;
  background-color: #fff;
  height: auto;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  box-shadow: none;
}

.bootstrap-select > .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
  z-index: 1;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: #888ea8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #888ea8;
}

.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: 0;
}

.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}

.bootstrap-select.fit-width {
  width: auto !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 220px;
}

.bootstrap-select.show .dropdown-toggle {
  border: 1px solid #1b55e2 !important;
  box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431);
  color: #3b3f5c;
}

.bootstrap-select.show .dropdown-toggle.btn-outline-primary {
  border: 1px solid #1b55e2 !important;
}

.bootstrap-select.show .dropdown-toggle.btn-outline-info {
  border: 1px solid #2196f3 !important;
}

.bootstrap-select.show .dropdown-toggle.btn-outline-success {
  border: 1px solid #8dbf42 !important;
}

.bootstrap-select.show .dropdown-toggle.btn-outline-warning {
  border: 1px solid #e2a03f !important;
}

.bootstrap-select.show .dropdown-toggle.btn-outline-danger {
  border: 1px solid #e7515a !important;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.bootstrap-select.form-control:not([class*=col-]) {
  width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
  z-index: auto;
}

.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=col-] {
  float: none;
  display: inline-block;
  margin-left: 0;
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
  float: right;
}

.row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
  float: right;
}

.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}

.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}

.bootstrap-select.btn-group.disabled {
  cursor: not-allowed;
}

.bootstrap-select.btn-group.disabled:focus {
  outline: 0 !important;
}

.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}

.bootstrap-select.btn-group > .disabled:focus {
  outline: 0 !important;
}

.bootstrap-select.btn-group.bs-container {
  position: absolute;
  height: 0 !important;
  padding: 0 !important;
}

.bootstrap-select.btn-group.bs-container .dropdown-menu {
  z-index: 1060;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  text-align: left;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}

.bootstrap-select.btn-group .dropdown-toggle:after {
  display: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
  width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  box-sizing: border-box;
  padding: 0;
  box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
}

.bootstrap-select.btn-group .dropdown-menu .popover-title {
  padding: 15px;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
  display: block;
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item.active small {
  color: #fff;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item.disabled a {
  cursor: not-allowed;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item.hidden {
  display: none;
}

.bootstrap-select .dropdown-header {
  padding: 10px 22px;
}

.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
  background-color: transparent;
  color: #515365;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner {
  display: block;
  padding: 9px 19px;
  font-weight: 600;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner:not([class*=bg-]):hover {
  color: #1b55e2;
  background-color: rgba(27, 85, 226, 0.2392156863);
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner.opt {
  position: relative;
  padding-left: 2.25em;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner span.check-mark {
  display: none;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner span.text {
  display: inline-block;
}

.bootstrap-select.btn-group .dropdown-menu a.dropdown-item small {
  padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu .dropdown-item .span.check-mark {
  display: none;
}

.bootstrap-select.btn-group .dropdown-menu .dropdown-item .span.text {
  display: inline-block;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f1f2f3;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  box-sizing: border-box;
}

.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f1f2f3;
  margin: 0 5px;
  white-space: nowrap;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu a.selected span.dropdown-item-inner span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu a a span.text {
  margin-right: 34px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1061;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid #fff;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

.bs-actionsbox {
  width: 100%;
  box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}

.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}

.input-group .bs-searchbox .form-control {
  width: 100%;
}

.btn-outline-primary:hover {
  color: #1b55e2 !important;
}

.btn-outline-info:hover {
  color: #2196f3 !important;
}

.btn-outline-warning:hover {
  color: #e2a03f !important;
}

.btn-outline-success:hover {
  color: #8dbf42 !important;
}

.btn-outline-danger:hover {
  color: #e7515a !important;
}

.bootstrap-select.btn-group > .dropdown-toggle.btn-outline-primary,
.bootstrap-select.btn-group > .dropdown-toggle.btn-outline-success,
.bootstrap-select.btn-group > .dropdown-toggle.btn-outline-info,
.bootstrap-select.btn-group > .dropdown-toggle.btn-outline-danger,
.bootstrap-select.btn-group > .dropdown-toggle.btn-outline-warning {
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  color: #1b55e2 !important;
}

.show > .btn-outline-primary.dropdown-toggle {
  background-color: transparent;
  color: #1b55e2 !important;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active {
  background-color: transparent;
  color: #8dbf42 !important;
}

.show > .btn-outline-success.dropdown-toggle {
  background-color: transparent;
  color: #8dbf42 !important;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active {
  background-color: transparent;
  color: #2196f3 !important;
}

.show > .btn-outline-info.dropdown-toggle {
  background-color: transparent;
  color: #2196f3 !important;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active {
  background-color: transparent;
  color: #e7515a !important;
}

.show > .btn-outline-danger.dropdown-toggle {
  background-color: transparent;
  color: #e7515a !important;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active {
  background-color: transparent;
  color: #e2a03f !important;
}

.show > .btn-outline-warning.dropdown-toggle {
  background-color: transparent;
  color: #e2a03f !important;
}

.btn.btn-outline-primary .caret {
  border-top-color: #1b55e2;
}

.btn.btn-outline-success .caret {
  border-top-color: #8dbf42;
}

.btn.btn-outline-info .caret {
  border-top-color: #2196f3;
}

.btn.btn-outline-danger .caret {
  border-top-color: #e7515a;
}

.btn.btn-outline-warning .caret {
  border-top-color: #e2a03f;
}

