.m-l--125 {
    margin-left: -125px
}

.m-t--125 {
    margin-top: -125px
}

.m-r--125 {
    margin-right: -125px
}

.m-b--125 {
    margin-bottom: -125px
}

.m-l--120 {
    margin-left: -120px
}

.m-t--120 {
    margin-top: -120px
}

.m-r--120 {
    margin-right: -120px
}

.m-b--120 {
    margin-bottom: -120px
}

.m-l--115 {
    margin-left: -115px
}

.m-t--115 {
    margin-top: -115px
}

.m-r--115 {
    margin-right: -115px
}

.m-b--115 {
    margin-bottom: -115px
}

.m-l--110 {
    margin-left: -110px
}

.m-t--110 {
    margin-top: -110px
}

.m-r--110 {
    margin-right: -110px
}

.m-b--110 {
    margin-bottom: -110px
}

.m-l--105 {
    margin-left: -105px
}

.m-t--105 {
    margin-top: -105px
}

.m-r--105 {
    margin-right: -105px
}

.m-b--105 {
    margin-bottom: -105px
}

.m-l--100 {
    margin-left: -100px
}

.m-t--100 {
    margin-top: -100px
}

.m-r--100 {
    margin-right: -100px
}

.m-b--100 {
    margin-bottom: -100px
}

.m-l--95 {
    margin-left: -95px
}

.m-t--95 {
    margin-top: -95px
}

.m-r--95 {
    margin-right: -95px
}

.m-b--95 {
    margin-bottom: -95px
}

.m-l--90 {
    margin-left: -90px
}

.m-t--90 {
    margin-top: -90px
}

.m-r--90 {
    margin-right: -90px
}

.m-b--90 {
    margin-bottom: -90px
}

.m-l--85 {
    margin-left: -85px
}

.m-t--85 {
    margin-top: -85px
}

.m-r--85 {
    margin-right: -85px
}

.m-b--85 {
    margin-bottom: -85px
}

.m-l--80 {
    margin-left: -80px
}

.m-t--80 {
    margin-top: -80px
}

.m-r--80 {
    margin-right: -80px
}

.m-b--80 {
    margin-bottom: -80px
}

.m-l--75 {
    margin-left: -75px
}

.m-t--75 {
    margin-top: -75px
}

.m-r--75 {
    margin-right: -75px
}

.m-b--75 {
    margin-bottom: -75px
}

.m-l--70 {
    margin-left: -70px
}

.m-t--70 {
    margin-top: -70px
}

.m-r--70 {
    margin-right: -70px
}

.m-b--70 {
    margin-bottom: -70px
}

.m-l--65 {
    margin-left: -65px
}

.m-t--65 {
    margin-top: -65px
}

.m-r--65 {
    margin-right: -65px
}

.m-b--65 {
    margin-bottom: -65px
}

.m-l--60 {
    margin-left: -60px
}

.m-t--60 {
    margin-top: -60px
}

.m-r--60 {
    margin-right: -60px
}

.m-b--60 {
    margin-bottom: -60px
}

.m-l--55 {
    margin-left: -55px
}

.m-t--55 {
    margin-top: -55px
}

.m-r--55 {
    margin-right: -55px
}

.m-b--55 {
    margin-bottom: -55px
}

.m-l--50 {
    margin-left: -50px
}

.m-t--50 {
    margin-top: -50px
}

.m-r--50 {
    margin-right: -50px
}

.m-b--50 {
    margin-bottom: -50px
}

.m-l--45 {
    margin-left: -45px
}

.m-t--45 {
    margin-top: -45px
}

.m-r--45 {
    margin-right: -45px
}

.m-b--45 {
    margin-bottom: -45px
}

.m-l--40 {
    margin-left: -40px
}

.m-t--40 {
    margin-top: -40px
}

.m-r--40 {
    margin-right: -40px
}

.m-b--40 {
    margin-bottom: -40px
}

.m-l--35 {
    margin-left: -35px
}

.m-t--35 {
    margin-top: -35px
}

.m-r--35 {
    margin-right: -35px
}

.m-b--35 {
    margin-bottom: -35px
}

.m-l--30 {
    margin-left: -30px
}

.m-t--30 {
    margin-top: -30px
}

.m-r--30 {
    margin-right: -30px
}

.m-b--30 {
    margin-bottom: -30px
}

.m-l--25 {
    margin-left: -25px
}

.m-t--25 {
    margin-top: -25px
}

.m-r--25 {
    margin-right: -25px
}

.m-b--25 {
    margin-bottom: -25px
}

.m-l--20 {
    margin-left: -20px
}

.m-t--20 {
    margin-top: -20px
}

.m-r--20 {
    margin-right: -20px
}

.m-b--20 {
    margin-bottom: -20px
}

.m-l--15 {
    margin-left: -15px
}

.m-t--15 {
    margin-top: -15px
}

.m-r--15 {
    margin-right: -15px
}

.m-b--15 {
    margin-bottom: -15px
}

.m-l--10 {
    margin-left: -10px
}

.m-t--10 {
    margin-top: -10px
}

.m-r--10 {
    margin-right: -10px
}

.m-b--10 {
    margin-bottom: -10px
}

.m-l--5 {
    margin-left: -5px
}

.m-t--5 {
    margin-top: -5px
}

.m-r--5 {
    margin-right: -5px
}

.m-b--5 {
    margin-bottom: -5px
}

.m-l-0 {
    margin-left: 0px
}

.m-t-0 {
    margin-top: 0px
}

.m-r-0 {
    margin-right: 0px
}

.m-b-0 {
    margin-bottom: 0px
}

.m-l-5 {
    margin-left: 5px
}

.m-t-5 {
    margin-top: 5px
}

.m-r-5 {
    margin-right: 5px
}

.m-b-5 {
    margin-bottom: 5px
}

.m-l-10 {
    margin-left: 10px
}

.m-t-10 {
    margin-top: 10px
}

.m-r-10 {
    margin-right: 10px
}

.m-b-10 {
    margin-bottom: 10px
}

.m-l-15 {
    margin-left: 15px
}

.m-t-15 {
    margin-top: 15px
}

.m-r-15 {
    margin-right: 15px
}

.m-b-15 {
    margin-bottom: 15px
}

.m-l-20 {
    margin-left: 20px
}

.m-t-20 {
    margin-top: 20px
}

.m-r-20 {
    margin-right: 20px
}

.m-b-20 {
    margin-bottom: 20px
}

.m-l-25 {
    margin-left: 25px
}

.m-t-25 {
    margin-top: 25px
}

.m-r-25 {
    margin-right: 25px
}

.m-b-25 {
    margin-bottom: 25px
}

.m-l-30 {
    margin-left: 30px
}

.m-t-30 {
    margin-top: 30px
}

.m-r-30 {
    margin-right: 30px
}

.m-b-30 {
    margin-bottom: 30px
}

.m-l-35 {
    margin-left: 35px
}

.m-t-35 {
    margin-top: 35px
}

.m-r-35 {
    margin-right: 35px
}

.m-b-35 {
    margin-bottom: 35px
}

.m-l-40 {
    margin-left: 40px
}

.m-t-40 {
    margin-top: 40px
}

.m-r-40 {
    margin-right: 40px
}

.m-b-40 {
    margin-bottom: 40px
}

.m-l-45 {
    margin-left: 45px
}

.m-t-45 {
    margin-top: 45px
}

.m-r-45 {
    margin-right: 45px
}

.m-b-45 {
    margin-bottom: 45px
}

.m-l-50 {
    margin-left: 50px
}

.m-t-50 {
    margin-top: 50px
}

.m-r-50 {
    margin-right: 50px
}

.m-b-50 {
    margin-bottom: 50px
}

.m-l-55 {
    margin-left: 55px
}

.m-t-55 {
    margin-top: 55px
}

.m-r-55 {
    margin-right: 55px
}

.m-b-55 {
    margin-bottom: 55px
}

.m-l-60 {
    margin-left: 60px
}

.m-t-60 {
    margin-top: 60px
}

.m-r-60 {
    margin-right: 60px
}

.m-b-60 {
    margin-bottom: 60px
}

.m-l-65 {
    margin-left: 65px
}

.m-t-65 {
    margin-top: 65px
}

.m-r-65 {
    margin-right: 65px
}

.m-b-65 {
    margin-bottom: 65px
}

.m-l-70 {
    margin-left: 70px
}

.m-t-70 {
    margin-top: 70px
}

.m-r-70 {
    margin-right: 70px
}

.m-b-70 {
    margin-bottom: 70px
}

.m-l-75 {
    margin-left: 75px
}

.m-t-75 {
    margin-top: 75px
}

.m-r-75 {
    margin-right: 75px
}

.m-b-75 {
    margin-bottom: 75px
}

.m-l-80 {
    margin-left: 80px
}

.m-t-80 {
    margin-top: 80px
}

.m-r-80 {
    margin-right: 80px
}

.m-b-80 {
    margin-bottom: 80px
}

.m-l-85 {
    margin-left: 85px
}

.m-t-85 {
    margin-top: 85px
}

.m-r-85 {
    margin-right: 85px
}

.m-b-85 {
    margin-bottom: 85px
}

.m-l-90 {
    margin-left: 90px
}

.m-t-90 {
    margin-top: 90px
}

.m-r-90 {
    margin-right: 90px
}

.m-b-90 {
    margin-bottom: 90px
}

.m-l-95 {
    margin-left: 95px
}

.m-t-95 {
    margin-top: 95px
}

.m-r-95 {
    margin-right: 95px
}

.m-b-95 {
    margin-bottom: 95px
}

.m-l-100 {
    margin-left: 100px
}

.m-t-100 {
    margin-top: 100px
}

.m-r-100 {
    margin-right: 100px
}

.m-b-100 {
    margin-bottom: 100px
}

.m-l-105 {
    margin-left: 105px
}

.m-t-105 {
    margin-top: 105px
}

.m-r-105 {
    margin-right: 105px
}

.m-b-105 {
    margin-bottom: 105px
}

.m-l-110 {
    margin-left: 110px
}

.m-t-110 {
    margin-top: 110px
}

.m-r-110 {
    margin-right: 110px
}

.m-b-110 {
    margin-bottom: 110px
}

.m-l-115 {
    margin-left: 115px
}

.m-t-115 {
    margin-top: 115px
}

.m-r-115 {
    margin-right: 115px
}

.m-b-115 {
    margin-bottom: 115px
}

.m-l-120 {
    margin-left: 120px
}

.m-t-120 {
    margin-top: 120px
}

.m-r-120 {
    margin-right: 120px
}

.m-b-120 {
    margin-bottom: 120px
}

.m-l-125 {
    margin-left: 125px
}

.m-t-125 {
    margin-top: 125px
}

.m-r-125 {
    margin-right: 125px
}

.m-b-125 {
    margin-bottom: 125px
}

.margin-0 {
    margin: 0
}

.p-l-0 {
    padding-left: 0px
}

.p-t-0 {
    padding-top: 0px
}

.p-r-0 {
    padding-right: 0px
}

.p-b-0 {
    padding-bottom: 0px
}

.p-l-5 {
    padding-left: 5px
}

.p-t-5 {
    padding-top: 5px
}

.p-r-5 {
    padding-right: 5px
}

.p-b-5 {
    padding-bottom: 5px
}

.p-l-10 {
    padding-left: 10px
}

.p-t-10 {
    padding-top: 10px
}

.p-r-10 {
    padding-right: 10px
}

.p-b-10 {
    padding-bottom: 10px
}

.p-l-15 {
    padding-left: 15px
}

.p-t-15 {
    padding-top: 15px
}

.p-r-15 {
    padding-right: 15px
}

.p-b-15 {
    padding-bottom: 15px
}

.p-l-20 {
    padding-left: 20px
}

.p-t-20 {
    padding-top: 20px
}

.p-r-20 {
    padding-right: 20px
}

.p-b-20 {
    padding-bottom: 20px
}

.p-l-25 {
    padding-left: 25px
}

.p-t-25 {
    padding-top: 25px
}

.p-r-25 {
    padding-right: 25px
}

.p-b-25 {
    padding-bottom: 25px
}

.p-l-30 {
    padding-left: 30px
}

.p-t-30 {
    padding-top: 30px
}

.p-r-30 {
    padding-right: 30px
}

.p-b-30 {
    padding-bottom: 30px
}

.p-l-35 {
    padding-left: 35px
}

.p-t-35 {
    padding-top: 35px
}

.p-r-35 {
    padding-right: 35px
}

.p-b-35 {
    padding-bottom: 35px
}

.p-l-40 {
    padding-left: 40px
}

.p-t-40 {
    padding-top: 40px
}

.p-r-40 {
    padding-right: 40px
}

.p-b-40 {
    padding-bottom: 40px
}

.p-l-45 {
    padding-left: 45px
}

.p-t-45 {
    padding-top: 45px
}

.p-r-45 {
    padding-right: 45px
}

.p-b-45 {
    padding-bottom: 45px
}

.p-l-50 {
    padding-left: 50px
}

.p-t-50 {
    padding-top: 50px
}

.p-r-50 {
    padding-right: 50px
}

.p-b-50 {
    padding-bottom: 50px
}

.p-l-55 {
    padding-left: 55px
}

.p-t-55 {
    padding-top: 55px
}

.p-r-55 {
    padding-right: 55px
}

.p-b-55 {
    padding-bottom: 55px
}

.p-l-60 {
    padding-left: 60px
}

.p-t-60 {
    padding-top: 60px
}

.p-r-60 {
    padding-right: 60px
}

.p-b-60 {
    padding-bottom: 60px
}

.p-l-65 {
    padding-left: 65px
}

.p-t-65 {
    padding-top: 65px
}

.p-r-65 {
    padding-right: 65px
}

.p-b-65 {
    padding-bottom: 65px
}

.p-l-70 {
    padding-left: 70px
}

.p-t-70 {
    padding-top: 70px
}

.p-r-70 {
    padding-right: 70px
}

.p-b-70 {
    padding-bottom: 70px
}

.p-l-75 {
    padding-left: 75px
}

.p-t-75 {
    padding-top: 75px
}

.p-r-75 {
    padding-right: 75px
}

.p-b-75 {
    padding-bottom: 75px
}

.p-l-80 {
    padding-left: 80px
}

.p-t-80 {
    padding-top: 80px
}

.p-r-80 {
    padding-right: 80px
}

.p-b-80 {
    padding-bottom: 80px
}

.p-l-85 {
    padding-left: 85px
}

.p-t-85 {
    padding-top: 85px
}

.p-r-85 {
    padding-right: 85px
}

.p-b-85 {
    padding-bottom: 85px
}

.p-l-90 {
    padding-left: 90px
}

.p-t-90 {
    padding-top: 90px
}

.p-r-90 {
    padding-right: 90px
}

.p-b-90 {
    padding-bottom: 90px
}

.p-l-95 {
    padding-left: 95px
}

.p-t-95 {
    padding-top: 95px
}

.p-r-95 {
    padding-right: 95px
}

.p-b-95 {
    padding-bottom: 95px
}

.p-l-100 {
    padding-left: 100px
}

.p-t-100 {
    padding-top: 100px
}

.p-r-100 {
    padding-right: 100px
}

.p-b-100 {
    padding-bottom: 100px
}

.p-l-105 {
    padding-left: 105px
}

.p-t-105 {
    padding-top: 105px
}

.p-r-105 {
    padding-right: 105px
}

.p-b-105 {
    padding-bottom: 105px
}

.p-l-110 {
    padding-left: 110px
}

.p-t-110 {
    padding-top: 110px
}

.p-r-110 {
    padding-right: 110px
}

.p-b-110 {
    padding-bottom: 110px
}

.p-l-115 {
    padding-left: 115px
}

.p-t-115 {
    padding-top: 115px
}

.p-r-115 {
    padding-right: 115px
}

.p-b-115 {
    padding-bottom: 115px
}

.p-l-120 {
    padding-left: 120px
}

.p-t-120 {
    padding-top: 120px
}

.p-r-120 {
    padding-right: 120px
}

.p-b-120 {
    padding-bottom: 120px
}

.p-l-125 {
    padding-left: 125px
}

.p-t-125 {
    padding-top: 125px
}

.p-r-125 {
    padding-right: 125px
}

.p-b-125 {
    padding-bottom: 125px
}

.margin-0 {
    margin: 0px
}

.padding-0 {
    padding: 0px
}

.margin-5 {
    margin: 5px
}

.padding-5 {
    padding: 5px
}

.margin-10 {
    margin: 10px
}

.padding-10 {
    padding: 10px
}

.margin-15 {
    margin: 15px
}

.padding-15 {
    padding: 15px
}

.margin-20 {
    margin: 20px
}

.padding-20 {
    padding: 20px
}

.margin-25 {
    margin: 25px
}

.padding-25 {
    padding: 25px
}

.margin-30 {
    margin: 30px
}

.padding-30 {
    padding: 30px
}

.margin-35 {
    margin: 35px
}

.padding-35 {
    padding: 35px
}

.margin-40 {
    margin: 40px
}

.padding-40 {
    padding: 40px
}

.margin-45 {
    margin: 45px
}

.padding-45 {
    padding: 45px
}

.margin-50 {
    margin: 50px
}

.padding-50 {
    padding: 50px
}

.margin-55 {
    margin: 55px
}

.padding-55 {
    padding: 55px
}

.margin-60 {
    margin: 60px
}

.padding-60 {
    padding: 60px
}

.margin-65 {
    margin: 65px
}

.padding-65 {
    padding: 65px
}

.margin-70 {
    margin: 70px
}

.padding-70 {
    padding: 70px
}

.margin-75 {
    margin: 75px
}

.padding-75 {
    padding: 75px
}

.margin-80 {
    margin: 80px
}

.padding-80 {
    padding: 80px
}

.margin-85 {
    margin: 85px
}

.padding-85 {
    padding: 85px
}

.margin-90 {
    margin: 90px
}

.padding-90 {
    padding: 90px
}

.margin-95 {
    margin: 95px
}

.padding-95 {
    padding: 95px
}

.margin-100 {
    margin: 100px
}

.padding-100 {
    padding: 100px
}

.margin-105 {
    margin: 105px
}

.padding-105 {
    padding: 105px
}

.margin-110 {
    margin: 110px
}

.padding-110 {
    padding: 110px
}

.margin-115 {
    margin: 115px
}

.padding-115 {
    padding: 115px
}

.margin-120 {
    margin: 120px
}

.padding-120 {
    padding: 120px
}

.margin-125 {
    margin: 125px
}

.padding-125 {
    padding: 125px
}

.padding-0 {
    padding: 0
}

.font-6 {
    font-size: 6px !important
}

.font-7 {
    font-size: 7px !important
}

.font-8 {
    font-size: 8px !important
}

.font-9 {
    font-size: 9px !important
}

.font-10 {
    font-size: 10px !important
}

.font-11 {
    font-size: 11px !important
}

.font-12 {
    font-size: 12px !important
}

.font-13 {
    font-size: 13px !important
}

.font-14 {
    font-size: 14px !important
}

.font-15 {
    font-size: 15px !important
}

.font-16 {
    font-size: 16px !important
}

.font-17 {
    font-size: 17px !important
}

.font-18 {
    font-size: 18px !important
}

.font-19 {
    font-size: 19px !important
}

.font-20 {
    font-size: 20px !important
}

.font-21 {
    font-size: 21px !important
}

.font-22 {
    font-size: 22px !important
}

.font-23 {
    font-size: 23px !important
}

.font-24 {
    font-size: 24px !important
}

.font-25 {
    font-size: 25px !important
}

.font-26 {
    font-size: 26px !important
}

.font-27 {
    font-size: 27px !important
}

.font-28 {
    font-size: 28px !important
}

.font-29 {
    font-size: 29px !important
}

.font-30 {
    font-size: 30px !important
}

.font-31 {
    font-size: 31px !important
}

.font-32 {
    font-size: 32px !important
}

.font-33 {
    font-size: 33px !important
}

.font-34 {
    font-size: 34px !important
}

.font-35 {
    font-size: 35px !important
}

.font-36 {
    font-size: 36px !important
}

.font-37 {
    font-size: 37px !important
}

.font-38 {
    font-size: 38px !important
}

.font-39 {
    font-size: 39px !important
}

.font-40 {
    font-size: 40px !important
}

.font-41 {
    font-size: 41px !important
}

.font-42 {
    font-size: 42px !important
}

.font-43 {
    font-size: 43px !important
}

.font-44 {
    font-size: 44px !important
}

.font-45 {
    font-size: 45px !important
}

.font-46 {
    font-size: 46px !important
}

.font-47 {
    font-size: 47px !important
}

.font-48 {
    font-size: 48px !important
}

.font-49 {
    font-size: 49px !important
}

.font-50 {
    font-size: 50px !important
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.align-left {
    text-align: left
}

.align-center {
    text-align: center
}

.align-right {
    text-align: right
}

.align-justify {
    text-align: justify
}

.no-resize {
    resize: none
}

.font-bold {
    font-weight: bold
}

.font-italic {
    font-style: italic
}

.font-underline {
    text-decoration: underline
}

.font-line-through {
    text-decoration: line-through
}

.font-overline {
    text-decoration: overline
}

.bg-red {
    background-color: #f44336 !important;
    color: #fff
}

.bg-red .content .text,
.bg-red .content .number {
    color: #fff !important
}

.bg-pink {
    background-color: #e91e63 !important;
    color: #fff
}

.bg-pink .content .text,
.bg-pink .content .number {
    color: #fff !important
}

.bg-purple {
    background-color: #9c27b0 !important;
    color: #fff
}

.bg-purple .content .text,
.bg-purple .content .number {
    color: #fff !important
}

.bg-deep-purple {
    background-color: #673ab7 !important;
    color: #fff
}

.bg-deep-purple .content .text,
.bg-deep-purple .content .number {
    color: #fff !important
}

.bg-indigo {
    background-color: #6777ef !important;
    color: #fff
}

.bg-indigo .content .text,
.bg-indigo .content .number {
    color: #fff !important
}

.bg-blue {
    background-color: #2196f3 !important;
    color: #fff
}

.bg-blue .content .text,
.bg-blue .content .number {
    color: #fff !important
}

.bg-light-blue {
    background-color: #03a9f4 !important;
    color: #fff
}

.bg-light-blue .content .text,
.bg-light-blue .content .number {
    color: #fff !important
}

.bg-cyan {
    background-color: #29c0b1 !important;
    color: #fff
}

.bg-cyan .content .text,
.bg-cyan .content .number {
    color: #fff !important
}

.bg-teal {
    background-color: #009688 !important;
    color: #fff
}

.bg-teal .content .text,
.bg-teal .content .number {
    color: #fff !important
}

.bg-green {
    background-color: #4caf50 !important;
    color: #fff
}

.bg-green .content .text,
.bg-green .content .number {
    color: #fff !important
}

.bg-light-green {
    background-color: #8bc34a !important;
    color: #fff
}

.bg-light-green .content .text,
.bg-light-green .content .number {
    color: #fff !important
}

.bg-lime {
    background-color: #cddc39 !important;
    color: #fff
}

.bg-lime .content .text,
.bg-lime .content .number {
    color: #fff !important
}

.bg-yellow {
    background-color: #ffe821 !important;
    color: #fff
}

.bg-yellow .content .text,
.bg-yellow .content .number {
    color: #fff !important
}

.bg-amber {
    background-color: #ffc107 !important;
    color: #fff
}

.bg-amber .content .text,
.bg-amber .content .number {
    color: #fff !important
}

.bg-orange {
    background-color: #ff9800 !important;
    color: #fff
}

.bg-orange .content .text,
.bg-orange .content .number {
    color: #fff !important
}

.bg-deep-orange {
    background-color: #ff5722 !important;
    color: #fff
}

.bg-deep-orange .content .text,
.bg-deep-orange .content .number {
    color: #fff !important
}

.bg-brown {
    background-color: #795548 !important;
    color: #fff
}

.bg-brown .content .text,
.bg-brown .content .number {
    color: #fff !important
}

.bg-grey {
    background-color: #9e9e9e !important;
    color: #fff
}

.bg-grey .content .text,
.bg-grey .content .number {
    color: #fff !important
}

.bg-blue-grey {
    background-color: #607d8b !important;
    color: #fff
}

.bg-blue-grey .content .text,
.bg-blue-grey .content .number {
    color: #fff !important
}

.bg-black {
    background-color: #000 !important;
    color: #fff
}

.bg-black .content .text,
.bg-black .content .number {
    color: #fff !important
}

.bg-white {
    background-color: #fff !important;
    color: #fff
}

.bg-white .content .text,
.bg-white .content .number {
    color: #fff !important
}

.bg-dark-gray {
    background-color: #888 !important;
    color: #fff
}

.bg-dark-gray .content .text,
.bg-dark-gray .content .number {
    color: #fff !important
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff
}

.l-bg-green .content .text,
.l-bg-green .content .number {
    color: #fff !important
}

.l-bg-green-dark {
    background: linear-gradient(135deg, #23bdb8 0, #65a986 100%) !important;
    color: #fff
}

.l-bg-green-dark .content .text,
.l-bg-green-dark .content .number {
    color: #fff !important
}

.l-bg-orange {
    background: linear-gradient(135deg, #f48665 0%, #fda23f 100%) !important;
    color: #fff
}

.l-bg-orange .content .text,
.l-bg-orange .content .number {
    color: #fff !important
}

.l-bg-orange-dark {
    background: linear-gradient(135deg, #f48665 0, #d68e41 100%) !important;
    color: #fff
}

.l-bg-orange-dark .content .text,
.l-bg-orange-dark .content .number {
    color: #fff !important
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff
}

.l-bg-cyan .content .text,
.l-bg-cyan .content .number {
    color: #fff !important
}

.l-bg-cyan-dark {
    background: linear-gradient(135deg, #289cf5, #4f8bb7) !important;
    color: #fff
}

.l-bg-cyan-dark .content .text,
.l-bg-cyan-dark .content .number {
    color: #fff !important
}

.l-bg-red {
    background: linear-gradient(to right, #a77ffc 0%, #ff6eac 100%) !important;
    color: #fff
}

.l-bg-red .content .text,
.l-bg-red .content .number {
    color: #fff !important
}

.l-bg-purple {
    background: linear-gradient(135deg, #9a56ff 0%, #e36cd9 100%) !important;
    color: #fff
}

.l-bg-purple .content .text,
.l-bg-purple .content .number {
    color: #fff !important
}

.l-bg-purple-dark {
    background: linear-gradient(135deg, #8e4cf1 0, #c554bc 100%) !important;
    color: #fff
}

.l-bg-purple-dark .content .text,
.l-bg-purple-dark .content .number {
    color: #fff !important
}

.l-bg-yellow {
    background: linear-gradient(to right, #f6e384, #ffd500) !important;
    color: #fff
}

.l-bg-yellow .content .text,
.l-bg-yellow .content .number {
    color: #fff !important
}

.col-red {
    color: #f44336 !important
}

.col-pink {
    color: #e91e63 !important
}

.col-purple {
    color: #9c27b0 !important
}

.col-deep-purple {
    color: #673ab7 !important
}

.col-indigo {
    color: #6777ef !important
}

.col-blue {
    color: #2196f3 !important
}

.col-light-blue {
    color: #03a9f4 !important
}

.col-cyan {
    color: #29c0b1 !important
}

.col-teal {
    color: #009688 !important
}

.col-green {
    color: #4caf50 !important
}

.col-light-green {
    color: #8bc34a !important
}

.col-lime {
    color: #cddc39 !important
}

.col-yellow {
    color: #ffe821 !important
}

.col-amber {
    color: #ffc107 !important
}

.col-orange {
    color: #ff9800 !important
}

.col-deep-orange {
    color: #ff5722 !important
}

.col-brown {
    color: #795548 !important
}

.col-grey {
    color: #9e9e9e !important
}

.col-blue-grey {
    color: #607d8b !important
}

.col-black {
    color: #000 !important
}

.col-white {
    color: #fff !important
}

.col-dark-gray {
    color: #888 !important
}

.width-per-0 {
    width: 0%
}

.width-per-1 {
    width: 1%
}

.width-per-2 {
    width: 2%
}

.width-per-3 {
    width: 3%
}

.width-per-4 {
    width: 4%
}

.width-per-5 {
    width: 5%
}

.width-per-6 {
    width: 6%
}

.width-per-7 {
    width: 7%
}

.width-per-8 {
    width: 8%
}

.width-per-9 {
    width: 9%
}

.width-per-10 {
    width: 10%
}

.width-per-11 {
    width: 11%
}

.width-per-12 {
    width: 12%
}

.width-per-13 {
    width: 13%
}

.width-per-14 {
    width: 14%
}

.width-per-15 {
    width: 15%
}

.width-per-16 {
    width: 16%
}

.width-per-17 {
    width: 17%
}

.width-per-18 {
    width: 18%
}

.width-per-19 {
    width: 19%
}

.width-per-20 {
    width: 20%
}

.width-per-21 {
    width: 21%
}

.width-per-22 {
    width: 22%
}

.width-per-23 {
    width: 23%
}

.width-per-24 {
    width: 24%
}

.width-per-25 {
    width: 25%
}

.width-per-26 {
    width: 26%
}

.width-per-27 {
    width: 27%
}

.width-per-28 {
    width: 28%
}

.width-per-29 {
    width: 29%
}

.width-per-30 {
    width: 30%
}

.width-per-31 {
    width: 31%
}

.width-per-32 {
    width: 32%
}

.width-per-33 {
    width: 33%
}

.width-per-34 {
    width: 34%
}

.width-per-35 {
    width: 35%
}

.width-per-36 {
    width: 36%
}

.width-per-37 {
    width: 37%
}

.width-per-38 {
    width: 38%
}

.width-per-39 {
    width: 39%
}

.width-per-40 {
    width: 40%
}

.width-per-41 {
    width: 41%
}

.width-per-42 {
    width: 42%
}

.width-per-43 {
    width: 43%
}

.width-per-44 {
    width: 44%
}

.width-per-45 {
    width: 45%
}

.width-per-46 {
    width: 46%
}

.width-per-47 {
    width: 47%
}

.width-per-48 {
    width: 48%
}

.width-per-49 {
    width: 49%
}

.width-per-50 {
    width: 50%
}

.width-per-51 {
    width: 51%
}

.width-per-52 {
    width: 52%
}

.width-per-53 {
    width: 53%
}

.width-per-54 {
    width: 54%
}

.width-per-55 {
    width: 55%
}

.width-per-56 {
    width: 56%
}

.width-per-57 {
    width: 57%
}

.width-per-58 {
    width: 58%
}

.width-per-59 {
    width: 59%
}

.width-per-60 {
    width: 60%
}

.width-per-61 {
    width: 61%
}

.width-per-62 {
    width: 62%
}

.width-per-63 {
    width: 63%
}

.width-per-64 {
    width: 64%
}

.width-per-65 {
    width: 65%
}

.width-per-66 {
    width: 66%
}

.width-per-67 {
    width: 67%
}

.width-per-68 {
    width: 68%
}

.width-per-69 {
    width: 69%
}

.width-per-70 {
    width: 70%
}

.width-per-71 {
    width: 71%
}

.width-per-72 {
    width: 72%
}

.width-per-73 {
    width: 73%
}

.width-per-74 {
    width: 74%
}

.width-per-75 {
    width: 75%
}

.width-per-76 {
    width: 76%
}

.width-per-77 {
    width: 77%
}

.width-per-78 {
    width: 78%
}

.width-per-79 {
    width: 79%
}

.width-per-80 {
    width: 80%
}

.width-per-81 {
    width: 81%
}

.width-per-82 {
    width: 82%
}

.width-per-83 {
    width: 83%
}

.width-per-84 {
    width: 84%
}

.width-per-85 {
    width: 85%
}

.width-per-86 {
    width: 86%
}

.width-per-87 {
    width: 87%
}

.width-per-88 {
    width: 88%
}

.width-per-89 {
    width: 89%
}

.width-per-90 {
    width: 90%
}

.width-per-91 {
    width: 91%
}

.width-per-92 {
    width: 92%
}

.width-per-93 {
    width: 93%
}

.width-per-94 {
    width: 94%
}

.width-per-95 {
    width: 95%
}

.width-per-96 {
    width: 96%
}

.width-per-97 {
    width: 97%
}

.width-per-98 {
    width: 98%
}

.width-per-99 {
    width: 99%
}

.width-per-100 {
    width: 100%
}
.settingSidebar {
    background: #fff;
    position: fixed;
    height: 100%;
    width: 280px;
    top: 20px;
    right: -280px;
    z-index: 999;
    transition: 0.3s ease-in;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12)
}

.settingSidebar .settingPanelToggle {
    background: #6777ef;
    padding: 10px 15px;
    color: #fff;
    position: absolute;
    top: 30%;
    left: -40px;
    width: 40px;
    border-radius: 10px 0 0 10px
}

.settingSidebar.showSettingPanel {
    right: 0
}

.settingSidebar .settingSidebar-body {
    position: relative;
    height: 100%
}

.settingSidebar .settingSidebar-tab {
    display: flex
}

.settingSidebar .settingSidebar-tab .nav-item {
    width: 33.33%;
    text-align: center
}

.settingSidebar .settingSidebar-tab .nav-item .nav-link {
    padding: 15px 12px;
    color: #6a7a8c;
    border-bottom: 3px solid transparent
}

.settingSidebar .settingSidebar-tab .nav-item .nav-link.active {
    border-bottom: 3px solid #2962ff;
    color: #2962ff
}

.settingSidebar .settingSidebar-tab .nav-item .nav-link:hover {
    border-bottom: 3px solid #2962ff;
    color: #2962ff
}

.settingSidebar ul.choose-theme li {
    display: inline-block
}

.settingSidebar ul.choose-theme li:hover {
    cursor: pointer
}

.settingSidebar ul.choose-theme li div {
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    overflow: hidden;
    position: relative;
    margin: 1px
}

.settingSidebar ul.choose-theme li div.purple {
    background: #6777ef;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2)
}

.settingSidebar ul.choose-theme li div.orange {
    background: #ffa117;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2)
}

.settingSidebar ul.choose-theme li div.cyan {
    background: #3dc7be;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2)
}

.settingSidebar ul.choose-theme li div.green {
    background: #4caf4f;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2)
}

.settingSidebar ul.choose-theme li div.red {
    background: #ea5455;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2)
}

.settingSidebar ul.choose-theme li div.white {
    background: #ece8e8;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2)
}

.settingSidebar ul.choose-theme li div.black {
    background: #343a40;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2)
}

.settingSidebar ul.choose-theme li.active div::after {
    content: "\f00c";
    color: #fff;
    top: 4px;
    left: 7px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.settingSidebar .setting-panel-header {
    display: block;
    padding: 15px 20px;
    color: #212529;
    font-size: 15px;
    border: 1px solid #eae9e9;
    background: #e9ecef
}

.settingSidebar .disk-server-setting .progress {
    height: 8px
}

.settingSidebar .disk-server-setting p {
    font-weight: bold;
    margin: 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    text-align: left;
    padding-bottom: 5px
}

.settingSidebar .rt-sidebar-last-ele {
    margin-bottom: 70px !important
}

.p-15 {
    padding: 15px
}

.p-10 {
    padding: 10px
}
